<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mygrocery">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGrocery.NoActionBar">
        <activity
            android:name=".MVP.View.ViewMainActivity"
            android:exported="false" />
        <activity
            android:name=".MVP.ModelViewPresenterActivity"
            android:exported="false" />
        <activity
            android:name=".Tests.EspressoUITests.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".Tests.EspressoUITests.Espresso2Activity"
            android:exported="false" />
        <activity
            android:name=".Tests.EspressoUITests.Espresso2Activity2"
            android:exported="false" />
        <activity
            android:name=".Tests.UnitTests.MockitoUnitTest.loginform.view.MainMockitoActivity"
            android:exported="false" />
        <activity
            android:name=".Tests.UnitTests.MockitoUnitTest.loginform.view.LoginMockitoActivity"
            android:exported="false" />
        <activity
            android:name=".Tests.UnitTests.SimpleCalculatorUnitTestActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.OrderDetailsSellerActivity" />
        <activity android:name=".Activities.ShopReviewsActivity" />
        <activity android:name=".Activities.WriteReviewActivity" />
        <activity android:name=".Activities.OrderDetailsUserActivity" />
        <activity
            android:name=".Activities.ShopDetailsActivity"
            android:windowSoftInputMode="stateHidden" /> <!-- hide keyboard -->
        <activity android:name=".Activities.EditProductActivity" />
        <activity android:name=".Activities.AddProductActivity" />
        <activity android:name=".Activities.ProfileEditSellerActivity" />
        <activity android:name=".Activities.ProfileEditUserActivity" />
        <activity android:name=".Activities.MainUserActivity" />
        <activity android:name=".Activities.MainSellerActivity" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.RegisterUserActivity" />
        <activity android:name=".Activities.RegisterSellerActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- Allow service to run in the background -->
        <service
            android:name=".MyFirebaseMessaging"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>